    body {
        margin: 0;
        font-family: Arial, sans-serif;
        line-height: 1.6;
        color: #333;
    }

    /* HEADER SECTION */
    header {
        background: #1f2937;
        color: #fff;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo{
        display: flex;
        margin-left:17%;
        align-items: center;
    }
    .logo h1{
        font-size:24px;
        color: #F9FAF8;
    }
    .logo-img{
        height: 40px;
        width: 40px;
    }
    header .nav-links{
      margin-right:15%;
    }
    header .nav-links a {
        color: #a8aaad;
        font-size: 20px;
        text-decoration: none;
        margin-left: 1rem;
        margin-right:1rem;
        /* font-size: 0.9rem; */
    }

    /* HERO SECTION */

    .hero {
        overflow: hidden;
        display: flex;
        flex-wrap:wrap;
        justify-content: space-around;
        background: #1f2937;
        color: #fff;
        text-align: center;
        padding: 2rem 1rem;
      }
      .hero-info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left;
        width: 500px;
        margin-left: 15%;
        /* margin-right: ; */
        margin-bottom: 50px;
      }
      .hero h1 {
        font-size: 48px;
        font-weight:extra-bold;
        color: #F9FAF8;
        margin-bottom: 0;
      }
  
      .hero p {
        color: #E5E7EB;
        font-size: 18px;
        margin-top: 0;
      }
      .hero button {
        background: #3882F6;
        color: #fff;
        border: none;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border-radius: 5px;
        cursor: pointer;
      }
  
      .hero button:hover {
        background: #2563eb;
      }
  
      .hero-image {
        display:flex;
        padding: 2rem;
        /* margin-right:15%; */
        padding-right:15% ;
        max-width: 300px;
        height:260px;
        border-radius: 10px;
      }
      
      /* INFO SECTION */

      .info-section {
        background: #f9fafb;
        text-align: center;
        padding: 2rem 1rem;
      }
  
      .info-section h2 {
        font-size: 36px;
        font-weight: extra-bold;
        color: #1F2937;
        margin-bottom: 1rem;
      }
  
      .info-section .info-items {
        display: flex;
        justify-content: center;
        gap: 1rem;
        flex-wrap: wrap;
        padding-bottom:100px;
      }
  
      .info-section .info-item {
        border: 2px solid #3b82f6;
        border-radius: 5px;
        padding: 1rem;
        margin: 1.5rem;
        height:150px;
        width: 150px;
        
      }
      .info-item p{
        color: #9599a4;
      }
      .info-item img{
        height:100%;
        width: 100%;
      }
    
      /* QUOTE SECTION */

      .quote-section {
        background: #E5E7EB;
        text-align: center;
        padding: 2rem 1rem;
        font-style: italic;
      }
  
      .quote-section p {
        /* 36px light italic #7F2937 */
        font-size: 36px;
        font-weight: light;
        font-style: italic;
        color: #1F2937;
        margin-bottom: 0.5rem;
      }
      .quote-section p:last-of-type{
        text-align: right; 
        margin-right: 25%;
      }
      
      /* CALL TO ACTION SECTION */

      .call-to-action  {
        display: flex;
        justify-content: center;
        background: #fff;
        color: #fff;
        text-align: center;
        padding: 1.5rem 1rem;
      }

      .call-to-action .action-box {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: #3b82f6;
        width: 65%;
        height: 50%;
        color: #fff;
        text-align: center;
        padding: 1.5rem 1rem;
        margin: 3.5rem;
        border-radius: 8px;
      }
      .call-to-action .action-box .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        padding: 15px;
      }
      .content .main-text{
        font-size: larger;
        font-weight: bold;
        margin-bottom: -5px;
      }
      .content  .sub-text{
        margin-top: -5px;
        color:#dbd8d8;
      }
      .call-to-action button {
        background: #3882f6;
        color: #fff;
        border: none;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border-style: solid;
        border-radius: 8px;
        cursor: pointer;
        height:2.5rem;
        width: 8rem;
      }
  
      .call-to-action button:hover {
        background: #fff;
        color: #3882f6;
      }
      /* FOOTER */

      footer {
        background: #1f2937;
        color: #9ca3af;
        text-align: center;
        padding: 1rem;
        font-size: 0.9rem;
      }

      /* Responsiveness */
      @media (max-width:659px){
        .call-to-action button {
          height:3.2rem;
          padding: 5px;
        }
        .hero-image{
          display:block;
          position:relative;
          margin-bottom:200px;
          /* margin-left:0; */
          padding:0;
          margin-right: 100%;
          /* margin:auto; */
          width:20px;
          height: 20px;
        }
      }

      @media (max-width:804px) {
        .logo{
          padding-left:0 ;
          margin-left: 0;
        }
        .nav-links{
          margin-right: 0%;
          margin-left:35%;
        }
        .hero-info{
          margin-left:0;
          
        }
        .hero-image{
          display:block;
          position:relative;
          margin-bottom:200px;
          /* margin-left:0; */
          padding:0;
          margin-right: 100%;
          /* margin:auto; */
          width:20px;
          height: 20px;
        }
        .hero-image img{
          display:block;
          margin-left:0;
          height: 200px;
        }
      }